*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus:not(:focus-visible) {
  outline: none;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('../fonts/Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('../fonts/Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl-700"),
    url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #ffffff;
}
/* 1 rem =10px */

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 113.5rem;
  margin: 0 auto;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  position: absolute;
  left: 50%;
  top: 6.4rem;
  transform: translate(-50%, 0);
}
.header__logo {
  width: 7.9rem;
  height: 2.8rem;
  margin-right: 3.9rem;
}
.header__menu {
  display: flex;
}
.header__nav a:not(:last-child) {
  margin-right: 2.4rem;
}
.header__nav a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.14;
}
.header__social-icon {
  width: 1.7rem;
  height: 1.6rem;
}
.header__social-icon:not(:last-child) {
  margin-right: 2rem;
}
.main {
  background: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  padding-top: 18.7rem;
  padding-bottom: 10.4rem;
}

.main__rating-title {
 
  font-size: 1.4rem;
  line-height: 1.14;
  margin-bottom: 1.6rem;
}
.main__rating-stars {
  display: inline-flex;
  align-items: center;
  margin-right: 0.9rem;
  margin-bottom: 1rem;
}
.main__rating-star {
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
}
.main__rating-star:not(:last-child) {
  margin-right: 0.4rem;
}
.main__rating-number {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.17;
   margin-bottom: 1rem;
}
.main__header {
  font-family: "Museo Sans";
  font-weight: 600;
  font-size: 7.6rem;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 0.8rem;
}
.main__description {
  max-width: 52.8rem;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 4.1rem;
}
.button__pay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0.8rem;

  max-width: 24.5rem;
  color: white;
  background-color: #151515;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.14;
  padding: 2.2rem 7.2rem;
  margin-bottom: 8.8rem;
}
/* ----------------slider------------------------------ */
.main-slider__wrap{
  max-width: 41.5rem;
  display: flex;
  align-items: center;
  
}
.main-slider__slide{
  position: relative;
  width: 16.4rem;
  height: 10.5rem;
  border-radius: 0.8rem;
  overflow: hidden;
}
.main-slider__slide span{
  position: absolute;
  left:1.16rem;
  bottom:0.6rem;
  font-size: 1rem;
  line-height: 1.2;
}
.main-slider__slide img{
   width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-slider__arrow{
  width: 3.2rem;
  margin-left: 2.8rem;
  flex-shrink:0;
  cursor: pointer;
}
/* ------------------------------------------------ */
.button__play{
  position: absolute;
  top:30.8rem;
  right: 31.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.2rem;
 height: 13.2rem;
  border-radius: 50%;
  background-color: #151515;
  cursor: pointer;
  border: 2rem solid #391917;
}

.footer {
  background-color: #030103;
  color: white;
  padding: 2rem 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy {
  color: #686767;
  font-size: 1.4rem;
  line-height: 1.43;
}
.footer__menu {
  display: flex;
}
.footer__menu li a {
  text-decoration: none;
  color: #686767;

  font-size: 1.4rem;
  line-height: 1.43;
}
.footer__menu li {
  list-style: none;
}
.footer__menu li:not(:last-child) {
  margin-left: 2.5rem;
}




